body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  font-family: sans-serif;
}

.button-container {
  margin-bottom: 20px;
}

#reset {
  font-size: 20px;
  padding: 10px 30px;
}

.grid-container {
  width: 640px;
  height: 640px;
  border: 2px solid black;
  position: relative;
  font-size: 0;
}

.grid-item {
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid black;
  vertical-align: top;
}
